@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573557333734'); /* IE9 */
  src: url('iconfont.eot?t=1573557333734#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABowAAAJ1AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgp4gQcBNgIkAwwLCAAEIAWEbQc7G8oFyB6SJAEFAsXwUCGEEVM8fO3H/tzdRTVJEk0M3aerJnw6kUqC2AiFbKGIRfi/vf+dy98x2pwfICm0PfrJ5QrpS9MxKgJhgCUKOT21CUfpV6vr81xTL71slB9oblW4UYfdnkcCTnCAkU22mUx8ttmUga8GthCDViFxSNR+20yg0YAi2mLP0CgkKbRXIC45C0DSKaQokq0XaoOJ+X/cqVGfbtIDbv378WUq6klqMh24dNwdhrZXr1q+rpbsGSFM4Ok1yJgECrERppbEChFjNabiDIKxWgWvWlXxCuYUo8oS8dc1aTMY5XTiFTYIXq+QQAa1KOgDxpjtfliSaqM7djGVspTw7E5eePx453IpX1s/2i1kJ8vXKfGz4eKpcAueFoaqqbms6739t/cbX5fvBR4/r8n19e1z9wtZAEcA1XkgPUE+i5kHDcHg2WStntn0W99UwMt/Yx6qLnBH/a/dwTTpwapSjdolF+R3ChqR9ST7JTRqRMW+Tt95R0+VEur1HEjq9COrN0gWdhI1mkyjVr0ZNJrQO71JFylWlAaMWyeEdg9IWt0ja/dBFvYLNXr9oFZ7ZDTaiNwFmwzHWUqnxIDCMAlOEx4SNm0ulbLnDiPzzIDsjS4fR+nyKCkvKbtme9FG+cYQd4JVKEUJlcIiPbQdmqYgjhRRDKmSiFJOQ2kpjd5UEhIWpFggoQAFhRFB0wguRLBRa6yk3D4/DDEeU4B8yLtojkOSizdPlCtRBpC9NhvKO8o1rglMBUWhCEoSLEQPtUMmk0A4cbsoFKKUiCQSjgalaz2K2kq+d1gTqJUi9IQcKXIU9Vc8YLMZTySEPc6EBwA=') format('woff2'),
  url('iconfont.woff?t=1573557333734') format('woff'),
  url('iconfont.ttf?t=1573557333734') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573557333734#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangzuo:before {
  content: "\e600";
}

.icon-duigou:before {
  content: "\e601";
}

